{% extends "portfolio/base.html" %}

{% block content %}
<h2>Projetos</h2>
{% if is_gestor %}
<a href="{% url 'projeto_criar' %}">+ Novo Projeto</a>
{% endif %}
<section>
    {% for projeto in projetos %}
    <article>
        <header>
            <h3>{{ projeto.titulo }}</h3>
            {% if is_gestor %}
            <div class="acoes">
                <a href="{% url 'projeto_editar' projeto.id %}">Editar</a>
                <a href="{% url 'projeto_apagar' projeto.id %}">Apagar</a>
            </div>
            {% endif %}
            <p>{{ projeto.data }}</p>
        </header>
        <section>
            <h4>Tecnologias</h4>
            <ul>
                {% for tec in projeto.tecnologias.all %}
                <li>{{ tec.nome }}</li>
                {% empty %}
                <li>Sem tecnologias registadas</li>
                {% endfor %}
            </ul>
        </section>
    </article>
    {% endfor %}
</section>
{% endblock %}
